.landingPage{
    
}

.ticketDiv{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:20px;
    width:70%;
    height:70%;
}

.navBar{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    height:70px;
    background-color: #fff;
    box-sizing: border-box;
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.navBar > ul{
    display: flex;
    justify-content: center;
    list-style: none;
    width:50%;

    height:100%;
    align-items: center;
    
}


li.link{
    width:30%; 
    height:100%; 
    font-size: 1em;
    align-items: center;
    display: flex;
    justify-content: center;

    
}

li.active{
    border-bottom: blue solid 1.5px;
}

li.link:hover{
    border-bottom: blue solid 1.5px;
}

li.link > a{
    text-decoration: none;
font-weight: 600;
    color: #121212;
    font-size: 0.8em;
    padding: 2%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;

}

